<div class=container>
  <ul class=bs-docs-footer-links>
      <li>
          <a href=https://github.com/midikang/rails-bootstrap target=_blank>GitHub</a>
      </li>
      <li>
          <a href=https://twitter.com/midi13 target=_blank>Twitter</a>
      </li>
      <li>
          <a href="http://getbootstrap.com/getting-started/#examples" target=_blank>Bootstrap Examples</a>
      </li>
  </ul>
  <p>Copyright &copy; Midi Kang 2016</p>
  <p>Built with all the love in the world by <a href=https://twitter.com/midi13 target=_blank>@midi13</a>.</p>
</div>