<% content_for :title do %>Card demo<% end %>
<h3>Card demo</h3>

<main class="main-content" role="main">
	<article class="card">
		<div class="card-surface">
			<div class="front">
				<img src="http://lorempixel.com/400/200/abstract" alt="">
			</div><!-- /.front -->
			<div class="back">
				<h2>abstract</h2>
				<p>
					This is a photo of abstract
				</p>
				<a href="#" class="action-btn">Click here</a>
			</div><!-- /.back -->
		</div><!-- /.card-surface-->
	</article>
	<article class="card">
		<div class="card-surface">
			<div class="front">
				<img src="http://lorempixel.com/400/200/animals" alt="">
			</div><!-- /.front -->
			<div class="back">
				<h2>animals</h2>
				<p>
					This is a photo of city
				</p>
				<a href="#" class="action-btn">Click here</a>
			</div><!-- /.back -->
		</div><!-- /.card-surface-->
	</article>
	<article class="card">
		<div class="card-surface">
			<div class="front">
				<img src="http://lorempixel.com/400/200/business" alt="">
			</div><!-- /.front -->
			<div class="back">
				<h2>business</h2>
				<p>
					This is a photo of business
				</p>
				<a href="#" class="action-btn">Click here</a>
			</div><!-- /.back -->
		</div><!-- /.card-surface-->
	</article>
	<article class="card">
		<div class="card-surface">
			<div class="front">
				<img src="http://lorempixel.com/400/200/cats" alt="">
			</div><!-- /.front -->
			<div class="back">
				<h2>cats</h2>
				<p>
					This is a photo of cats
				</p>
				<a href="#" class="action-btn">Click here</a>
			</div><!-- /.back -->
		</div><!-- /.card-surface-->
	</article>
	<article class="card">
		<div class="card-surface">
			<div class="front">
				<img src="http://lorempixel.com/400/200/city" alt="">
			</div><!-- /.front -->
			<div class="back">
				<h2>city</h2>
				<p>
					This is a photo of city
				</p>
				<a href="#" class="action-btn">Click here</a>
			</div><!-- /.back -->
		</div><!-- /.card-surface-->
	</article>
	<article class="card">
		<div class="card-surface">
			<div class="front">
				<img src="http://lorempixel.com/400/200/food" alt="">
			</div><!-- /.front -->
			<div class="back">
				<h2>food</h2>
				<p>
					This is a photo of food
				</p>
				<a href="#" class="action-btn">Click here</a>
			</div><!-- /.back -->
		</div><!-- /.card-surface-->
	</article>
	<article class="card">
		<div class="card-surface">
			<div class="front">
				<img src="http://lorempixel.com/400/200/nightlife" alt="">
			</div><!-- /.front -->
			<div class="back">
				<h2>nightlife</h2>
				<p>
					This is a photo of nightlife
				</p>
				<a href="#" class="action-btn">Click here</a>
			</div><!-- /.back -->
		</div><!-- /.card-surface-->
	</article>
	<article class="card">
		<div class="card-surface">
			<div class="front">
				<img src="http://lorempixel.com/400/200/fashion" alt="">
			</div><!-- /.front -->
			<div class="back">
				<h2>fashion</h2>
				<p>
					This is a photo of fashion
				</p>
				<a href="#" class="action-btn">Click here</a>
			</div><!-- /.back -->
		</div><!-- /.card-surface-->
	</article>
	<article class="card">
		<div class="card-surface">
			<div class="front">
				<img src="http://lorempixel.com/400/200/people" alt="">
			</div><!-- /.front -->
			<div class="back">
				<h2>people</h2>
				<p>
					This is a photo of people
				</p>
				<a href="#" class="action-btn">Click here</a>
			</div><!-- /.back -->
		</div><!-- /.card-surface-->
	</article>
	<article class="card">
		<div class="card-surface">
			<div class="front">
				<img src="http://lorempixel.com/400/200/nature" alt="">
			</div><!-- /.front -->
			<div class="back">
				<h2>nature</h2>
				<p>
					This is a photo of nature
				</p>
				<a href="#" class="action-btn">Click here</a>
			</div><!-- /.back -->
		</div><!-- /.card-surface-->
	</article>
	<article class="card">
		<div class="card-surface">
			<div class="front">
				<img src="http://lorempixel.com/400/200/sports" alt="">
			</div><!-- /.front -->
			<div class="back">
				<h2>sports</h2>
				<p>
					This is a photo of sports
				</p>
				<a href="#" class="action-btn">Click here</a>
			</div><!-- /.back -->
		</div><!-- /.card-surface-->
	</article>
	<article class="card">
		<div class="card-surface">
			<div class="front">
				<img src="http://lorempixel.com/400/200/technics" alt="">
			</div><!-- /.front -->
			<div class="back">
				<h2>technics</h2>
				<p>
					This is a photo of technics
				</p>
				<a href="#" class="action-btn">Click here</a>
			</div><!-- /.back -->
		</div><!-- /.card-surface-->
	</article>
	<article class="card">
		<div class="card-surface">
			<div class="front">
				<img src="http://lorempixel.com/400/200/transport" alt="">
			</div><!-- /.front -->
			<div class="back">
				<h2>transport</h2>
				<p>
					This is a photo of transport
				</p>
				<a href="#" class="action-btn">Click here</a>
			</div><!-- /.back -->
		</div><!-- /.card-surface-->
	</article>
</main><!-- /.main-content -->