<% content_for :title do %>Dynasty<% end %>
<h1>Dynasty</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>朝代</th>
      <th>起止时间</th>
      <th>都城</th>
      <th>都城今址</th>
      <th colspan="2">建立者</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td>夏朝</td>
        <td>约前2029年-约前1559年</td>
        <td>阳城、阳翟、商丘、纶城、老丘、斟鄩、西河</td>
        <td>河南登封、商丘、陈留、偃师、安阳等</td>
        <td>夏王姒启</td>
      </tr>
      <tr>
        <td>商朝</td>
        <td>约前1559年-约前1046年</td>
        <td>亳、西毫、奄、殷</td>
        <td>河南商丘、偃师、郑州、安阳</td>
        <td>商太祖子履</td>
      </tr>
      <tr>
        <td>周朝（西周）</td>
        <td>约前1046年-前771年</td>
        <td>丰京、镐京</td>
        <td>陕西西安</td>
        <td>周武王姬发</td>
      </tr>
      <tr>
        <td>周朝（东周）</td>
        <td>前770年-前256年</td>
        <td>洛邑</td>
        <td>河南洛阳</td>
        <td>周平王姬宜臼</td>
      </tr>
      <tr>
        <td>秦朝</td>
        <td>前221年-前207年</td>
        <td>咸阳</td>
        <td>陕西咸阳</td>
        <td>秦始皇帝嬴政</td>
      </tr>
      <tr>
        <td>西楚</td>
        <td>前206年-前202年</td>
        <td>彭城</td>
        <td>江苏徐州</td>
        <td>西楚霸王项羽</td>
      </tr>
      <tr>
        <td>汉朝（西汉）</td>
        <td>前202年-8年</td>
        <td>长安</td>
        <td></td>
        <td>汉高祖刘邦</td>
      </tr>
      <tr>
        <td>新朝</td>
        <td>8年-23年</td>
        <td>长安</td>
        <td></td>
        <td>新太祖王莽</td>
      </tr>
      <tr>
        <td>汉朝（玄汉）</td>
        <td>23年-25年</td>
        <td>长安</td>
        <td></td>
        <td>汉更始帝刘玄</td>
      </tr>
      <tr>
        <td>汉朝（东汉）</td>
        <td>25年-220年</td>
        <td>洛阳</td>
        <td></td>
        <td>汉世祖刘秀</td>
      </tr>

      <tr>
        <td colspan="5">三国（220年-280年）</td>
      </tr>
      <tr>
        <td>曹魏</td>
        <td>220年-266年</td>
        <td>洛阳</td>
        <td></td>
        <td>魏文帝曹丕</td>
      </tr>
      <tr>
        <td>蜀汉</td>
        <td>221年-263年</td>
        <td>成都</td>
        <td></td>
        <td>汉烈祖刘备</td>
      </tr>
      <tr>
        <td>孙吴</td>
        <td>222年-280年</td>
        <td>建业</td>
        <td></td>
        <td>吴大帝孙权</td>
      </tr>
      <tr>
        <td>晋朝（西晋）</td>
        <td>266年-316年</td>
        <td>洛阳</td>
        <td></td>
        <td>晋武帝司马炎</td>
      </tr>
      <tr>
        <td>晋朝（东晋）</td>
        <td>317年-420年</td>
        <td>建康</td>
        <td></td>
        <td>晋元帝司马睿</td>
      </tr>
      <tr>
        <td>。。。</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
  </tbody>
</table>